Min Max Normalization

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df=pd.DataFrame({'x1':[10,14,18,25,28,34,36,40]})
df

   x1
0  10
1  14
2  18
3  25
4  28
5  34
6  36
7  40

In [5]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_df = scaler.fit_transform(df)
scaled_df2 = pd.DataFrame(scaled_df, columns=['x1'])
print(scaled_df2)

         x1
0  0.000000
1  0.133333
2  0.266667
3  0.500000
4  0.600000
5  0.800000
6  0.866667
7  1.000000

Z-Score Normalization

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_df = scaler.fit_transform(df)
scaled_df2 = pd.DataFrame(scaled_df, columns=['x1'])
print(scaled_df2)

         x1
0 -1.535970
1 -1.142761
2 -0.749553
3 -0.061439
4  0.233467
5  0.823280
6  1.019884
7  1.413092

Working with Label Encoders

In [7]:
df2=pd.DataFrame({'deg':['ssc','inter','btech','mtech','inter']})
df2

     deg
0    ssc
1  inter
2  btech
3  mtech
4  inter

In [9]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
df2['deg1']=label_encoder.fit_transform(df2['deg'])
df2

     deg  deg1
0    ssc     3
1  inter     1
2  btech     0
3  mtech     2
4  inter     1